<div class="container">
  <h1>Movie#index</h1>
  <div class="card" style="width: 18rem;">
    <%@movies.each do |movie|  %>
      <%= image_tag(movie.post_url, :class => "card-img-top") %>
      <%= (movie.title) %>
      <%= (movie.overview )  %>
      <%= link_to "Show details", show_path(movie.id) %>
    <% end %>
  </div>
</div>
