<div class="container">
  <h1>Create List</h1>
  <form action="/create" method="post">
  <div class="list">
    <div class=list-content>
      <label for="list-name">Image</label>
      <input type="file" name="image" >
    </div>
    <div class=list-content>
      <label for="list-name">Name</label>
      <input type="text" name="name" >
    </div>
  </div>
    <input type="submit" value="Create List">
  </form>
</div>
