<div class="container">
  <h1>Movie#show</h1>
      <%= image_tag(@movie.post_url, :class => "img-fluid") %>
      <%= (@movie.title) %>
      <%= (@movie.overview )  %>
      <%= link_to "back home", movie_index_path %>
  </div>
</div>
